$dark-blue: #1974B2;
$blue: #1B9CFA;
$dark-grey: #231F20;
$medium-grey: #6D6E70;
$light-grey: #8D8F91;
$extra-light-grey: #E6E6E6;
$orange: #FA6622;
$green: #19a743;
$red: #e62319;
$purple: #9d29ba;
$teal: #1fc0bf;

$shadow-standard: 0px 0px 15px rgba(0, 0, 0, 0.15);

$spacing-standard: 2em;
$spacing-small: 1em;


$break-large: 1500px;